

h1 {
	font-family: 'apercubold';

	letter-spacing: -.05em;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #1d1d1d;
}

h4 {
  line-height: 1.2;
}

h3 {
  font-family: 'apercubold'
}

h5 {
	font-family: 'apercumedium';
  color: #1d1d1d;
}

body {
	font-family: 'apercumedium', sans-serif;

}


button, .button {
 
}

.column,
 .columns {
    padding-top: 0px;
    padding-bottom: 0px;
}


.logo img{
	vertical-align: center;
  width: 100%;
  margin: 6em auto 0;
  display: block;
}





.container-full-width {
  width: 100%;
}



/****** TOP BAR ********/





.animate {
	background-color: #ffffff;

}

.top-bar {
	overflow: visible;
	width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    z-index: 1;
    text-align: center;
}

.top-bar-section ul li > a {
      font-family: "apercumedium", sans-serif;
      letter-spacing: .2em;
      font-size: 1.2em;
      background-color: white;
      margin: 0 auto;
      width: 100%;
      text-align: center;
  }

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: transparent;
    overflow: visible; 
}

.contain-to-grid {
	background: transparent;
}

.contain-to-grid .top-bar {
	margin: 0 auto;
}

.top-bar-section {
    transition: none 0 0;
    left: 0 !important; }
    .top-bar-section ul {
      width: auto;
      height: auto !important;
      display: inline; }
      .top-bar-section ul li {
        float: left; }
        .top-bar-section ul li .js-generated {
          display: none; }
    .top-bar-section li.hover > a:not(.button) {
      background-color: transparent;
      background: transparent;
      color: white; }
    .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      background: transparent; }
      .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: transparent;
        background: transparent; }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      color: white;
      background: transparent; }
      .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: #0078a0; }

      .top-bar-section ul li {
      	background: transparent;
      }






/******* ABOUT *********/

#about h1 {
  margin-top: 50px;
  margin-bottom: 0px;
}

#about h1,h3,p {
	text-align: center;
}

#about h6 {
  text-align: center;
  margin-top: 10px;
}
#about h6, p {
	font-family: 'apercumedium';
	color: black;
}

#about p {
	color: black;
}

#about img {
  display: block;
  margin: 85px auto 0;
  max-width: 850px;
  width: 100%;
}






/******* SLIDER *********/



.slider h1 {
	margin: 550px auto 0;
	text-align: center;
	color: white;
	letter-spacing: .2em;

}

.slider h3 {
	color: white;
}

.slider { 
  background: url(../img/botez.jpg) no-repeat center center ; 
  -webkit-background-size: auto 100%;
  -moz-background-size: 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  background-attachment: scroll;
  height: 715px;
  background-position: center top;
  }






/******** LIVE SECTION **********/


#live { 
  background: url(../img/philachurch.jpg) no-repeat center center ; 
  -webkit-background-size: auto 100%;
  -moz-background-size: 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  min-height: 500px;
  background-attachment: scroll;
  background-position: center top;
  }


#live h1 {
	text-align: center;
	color: white;
	padding: 50px;
}

#live h3, p {
	font-family: 'apercumedium';
	color: white;
}


#live img {
	vertical-align: middle;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 115px;
}







/**** BLOG *********/
#blog {
  background-color: white;
}
#blog h1 {
  text-align: left;
}

#blog h5 {

	text-align: left;
	margin-bottom: 40px;
}

#blog img {
	float: right;
	display: block;
  width: 83%;
  margin-top: 5.8rem;
}

#blog .columns {
	padding: 0px;
}

#blog .row {
  margin: 4rem 0 8rem;
}
#blog button {
  margin-top: 3rem;
  float: right;

}



/**** MINISTRIES *********/

#ministries {
	background: url(../img/mexico-2.jpg);
  background-size: 100%;
  height: 600px;
}

#ministries h1 {
	text-align: left;
  color: white;
  float: right;
  margin: 3em 0 0 0;
	
}

#ministries h3,p {
	text-align: center;
	color: black;
}

#ministries h3 {
	margin-top: 25px;
}

#ministries img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#ministries .large-4 {
	margin-bottom: 70px;
}

#ministries button {
  float: right;
}




/******* YOUTH *********/

#youth {
    background-color: #F7F7F7;
}

#youth h1 {
	text-align: center;
	margin: 65px 0 40px;
}

#youth h4 {
	text-align: left;
	margin-left: 0px;
	margin-top: 30px;
}

#youth img {
  max-width: 300px;
  margin-bottom: 50px;
}







/******* FOOTER *********/

#footer {

}

#footer h5 {
	text-align: center;
}


#donate {
	text-align: center;
	margin-top: 50px;
}

#social {
	margin: 50px auto;
	text-align: center;
}

#facebook {
	width: 50px;
	height: 50px;
	margin: 0 10px;
}

#twitter {
	width: 50px;
	height: 45px;
	margin: 0 10px;
}

#footer hr {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}

#footer p {
	font-size: 8pt;
	margin-top: 25px;
}

#facebook:hover {
	content: url('../img/facebookhover.png');
}

#twitter:hover {
	content: url('../img/twitterhover.png');
}




/******* MENU *********/


.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    min-height: 35px;
    padding: 10px;
    background-color: white transparent;
    letter-spacing: .2em;
    z-index: 5;
    display: block;
}
.header.scrolling {
    background-color: #1d1d1d;
    height: 40px;
}
.header .brand {
    display: inline-block;
    font-size: 16px;
}
.header-ul {
    list-style: none;
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.header-ul > li a{
    font-family: "apercumedium";
    display: inline-block;
    margin: 0 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}

.header-ul > li a:hover {
    text-decoration: none;
    border-bottom: 2px solid white;
    margin-top: -2px;
    height: 

}

.header-ul > li {
    font-family: "apercumedium";
    display: inline-block;
    margin: 0 ;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}
.main {
    height: 2000px;
}