/******** Header Styles ********/

h1 {
	font-family: 'apercubold';

	letter-spacing: -.05em;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #1d1d1d;
}

h4 {
  line-height: 1.2;
}

h3 {
  font-family: 'apercubold'
}

h5 {
	font-family: 'apercumedium';
  color: #1d1d1d;
}

p {font-size: 2rem;}

body {
	font-family: 'apercumedium', sans-serif;

}

.column, .columns {
    padding-top: 0px;
    padding-bottom: 0px;
}


.logo img{
	vertical-align: center;
  width: 100%;
  margin: 6em auto 0;
  display: block;
}

.container-full-width {
  width: 100%;
}



/****************** TOP BAR MENU **************************/

@media (min-width: 400px) {
  .header {
    display: none;
  }

@media (min-width: 550px){
  .header 

  .header.scrolling {
    background-color: #1d1d1d;
    height: 25px;
}
}

@media (min-width: 675px){

.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    min-height: 35px;
    padding: 10px;
    background-color: white transparent;
    letter-spacing: .2em;
    z-index: 5;
    display: block;
}
.header.scrolling {
    background-color: #1d1d1d;
    height: 40px;
}
.header .brand {
    display: inline-block;
    font-size: 16px;
}
.header-ul {
    list-style: none;
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.header-ul > li a{
    font-family: "apercumedium";
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}

.header-ul > li a:hover {
    text-decoration: none;
    border-bottom: 2px solid white;
    margin-top: -2px;
    height: 

}

.header-ul > li {
    font-family: "apercumedium";
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}
.main {
    height: 2000px;
}

}




/************* SLIDER ***************/



.slider h1 {
  margin: 550px auto 0;
  text-align: center;
  color: white;
  letter-spacing: .2em;
}

.slider h3 {
  color: white;
}

.slider { 
  background: url(../img/botez.jpg) no-repeat center center ; 
  -webkit-background-size: auto 100%;
  -moz-background-size: 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  background-attachment: scroll;
  height: 715px;
  background-position: center top;
  }


@media (min-width: 400px) {
  .slider {
    height: 650px;
  }
}

@media (min-width: 750px) {
  .slider { 
  background: url(../img/botez.jpg) no-repeat center center ; 
  -webkit-background-size: auto 100%;
  -moz-background-size: 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  background-attachment: scroll;
  height: 825px;
  background-position: center top;
  }


}


/************* Events ***************/

#events {
  background-color: #FDD6C8;
}


#events h1 {
  margin-top: 50px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 4.6rem;
}

#events h1,h3, h5, h6, p{
	text-align: center;
}

#events h5 {
  margin-bottom: 0px;
  font-family: 'apercuregular';
}
#events h6 {
  text-align: center;
  margin-top: 10px;
}
#events h6, p {
	font-family: 'apercumedium';
	color: black;
}


#events img {
  display: block;
  margin: 65px auto 25px;
  max-width: 850px;
  width: 70%;
}

#events h5.last {
  margin-bottom: 25px;
}



/******** LIVE SECTION **********/


#live { 
  background: url(../img/philachurch.jpg) no-repeat center center ; 
  -webkit-background-size: auto 100%;
  -moz-background-size: 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  width: 100%;
  background-attachment: scroll;
  background-position: center top;
  }


#live h1 {
	text-align: center;
	color: white;
	padding: 50px;
}

#live h3, p {
	font-family: 'apercumedium';
	color: white;
}


#live img {
	vertical-align: middle;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 115px;
}







/**********  BLOG  *********/



#blog {
  background-color: white;
}
#blog h1 {
  text-align: left;
  margin-top: 65px;
}

#blog h5 {

	text-align: left;
	margin-bottom: 40px;
}

#blog img {
  float: right;
  margin-top: 75px;
}

#blog .seven.columns {
	padding: 0px;

}

#blog .five.columns {
  margin-bottom: 100px;
  float: right;
  
}



@media (min-width: 440px) {
  #blog .container .four.columns {
    float:left;
    width: 100%;
  }

  #blog h1, h5, button {
    text-align: center;
  }

  #blog .button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  margin: 0 auto;
}

}

@media (min-width: 400px) {




/************ MINISTRIES *********/


#ministries { 
  background: url(../img/mexico-2.jpg) no-repeat center center ; 
  -webkit-background-size: auto 100%;
  -moz-background-size: 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  min-height: 600px;
  background-attachment: scroll;
  background-position: center top;
  }

#ministries h1 {
	text-align: left;
  color: white;
  float: right;
  margin: 3em 0 0 0;
}

#ministries h3,p {
	text-align: center;
	color: black;
}

#ministries h3 {
	margin-top: 25px;
}

#ministries img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#ministries .large-4 {
	margin-bottom: 70px;
}

#ministries button {
  float: right;
}





/*********** YOUTH *********/

#youth {
    background-color: #F7F7F7;
}

#youth h1 {
	text-align: center;
	margin: 65px 0 40px;
}

#youth h4 {
	text-align: left;
	margin-left: 0px;
	margin-top: 30px;
}

#youth p {
  text-align: left;
}

#youth img {
  max-width: 300px;
  margin-bottom: 50px;
  width: 90%;
}

@media (min-width: 400px) {
  #youth h4 {
    margin-top: 0px;
  }

/******* FOOTER *********/

#footer {
}

#footer h6 {
	text-align: center;
}

#donate {
	text-align: center;
	margin-top: 50px;
}

#social {
	margin: 50px auto;
	text-align: center;
}

#facebook {
	width: 50px;
	height: 50px;
	margin: 0 10px;
}

#twitter {
	width: 50px;
	height: 45px;
	margin: 0 10px;
}

#footer hr {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}

#footer p {
	font-size: 8pt;
	margin-top: 25px;
}

#facebook:hover {
	content: url('../img/facebookhover.png');
}

#twitter:hover {
	content: url('../img/twitterhover.png');
}




